<div class="leg_fields">
	<%= f.hidden_field :recipient_user_id %>
	<%= f.hidden_field :sending_user_id %>
	<%= f.hidden_field :recipient_fort_id %>
	<%= f.hidden_field :sending_fort_id %>
	<script>
		var divs = $(".leg_fields:eq(" + ($('.leg_fields').length - 1).toString() + ")").children().not("script");
		var newDivs = []
		for (i = 0; i < divs.length; i++) {
			var jqobject = $(divs[i]).attr("id", $(divs[i]).attr("id").replace("legs_attributes_100000000000", "legs_attributes_" + (99999999999 + $('.leg_fields').length).toString()))
			jqobject = $(divs[i]).attr("name", $(divs[i]).attr("name").replace("legs_attributes][100000000000", "legs_attributes]" + (99999999999 + $('.leg_fields').length).toString()))
			newDivs.push(jqobject)
			console.log((99999999999 + $('.leg_fields').length).toString())
		}
		$(".leg_fields:eq(" + ($('.leg_fields').length - 1).toString() + ")").html(newDivs);
	</script>
</div>	
